[2016-04-04 22:11] mmcdole opened #2 "atom.Parser isn't properly parsing relative urls"
The `atom.Parser` needs to be modified to support parsing relative urls specified with `xml:base`.

[2016-04-04 22:12] mmcdole opened #3 "atom.Parser is not properly parsing the xml:lang attribute for it's Language field"
The `xml:lang` attribute is not being parsed currently to populate the Language field of `atom.Parser`.

We are also missing Atom unit tests for the Language field.

[2016-04-04 22:13] mmcdole opened #4 "DefaultRSSTranslator and DefaultAtomTranslator need unit tests"

[2016-04-04 22:14] mmcdole opened #5 "gofeed.Extensions need unit tests"

[2016-04-04 22:16] mmcdole opened #6 "Add support for the Media RSS extension"

[2016-04-04 22:16] mmcdole opened #7 "DefaultAtomTranslator needs unit tests"

[2016-04-04 22:17] mmcdole opened #8 "DublinCore extension parsing needs unit tests"

[2016-04-04 22:20] mmcdole opened #9 "FeedParser and DetectFeedType need unit tests"

[2016-04-05 01:32] mmcdole opened #10 "Fix all things reported in the goreportcard"
https://goreportcard.com/report/github.com/mmcdole/gofeed

[2016-04-05 03:27] mmcdole commented on #10
Only issues remaining in the goreportcard are the cyclomatic complexity issues for the parsers that can't really be helped.

[2016-04-05 03:27] #10 closed

[2016-04-05 04:37] mmcdole commented on #9
Should be done now.

[2016-04-05 04:37] #9 closed

[2016-04-05 05:16] mmcdole opened #13 "Add godoc examples"

[2016-04-05 15:40] mmcdole opened #14 "Change feed parser interfaces to use io.Reader instead of strings"

[2016-04-07 17:41] #3 closed

[2016-04-07 22:14] mmcdole commented on #14
This is is now!

[2016-04-07 22:15] #14 closed

[2016-04-11 12:18] mmcdole opened #17 "Fix stuttering method names in FeedParser/atom.Parser/rss.Parser"
Take the chance to address the non-idiomatic method names while I still cant before hitting 1.0.

See the following reddit comment for details:

https://www.reddit.com/r/golang/comments/4e8say/gofeed_a_fast_and_robust_rss_and_atom_parser/d1y8vif

[2016-04-12 02:06] #17 closed

[2016-04-14 22:01] leonardinius opened #19 "README.md flow diagram flaw"
![](https://raw.githubusercontent.com/mmcdole/gofeed/master/docs/sequence.png)! seems to have confused Atom and RSS feeds.

I believe RSS feeds is being parsed by RSS parser, not Atom.

[2016-04-14 22:23] mmcdole commented on #19
@leonardinius nice catch!  I'll regenerate the diagram image.

[2016-04-15 01:16] mmcdole commented on #19
Should be fixed now!  Thanks

[2016-04-15 01:16] #19 closed

[2016-04-15 03:19] terryh opened #21 "Error parsing non-utf8 feeds"
rss_feed with this xml encoding detect error

<?xml version="1.0" encoding="ISO-8859-1" ?>
<rss version="2.0">
<channel>
<title>RSS Title</title>
</channel>
</rss>

[2016-04-15 03:52] mmcdole commented on #21
@terryh can you post a link to the feed, or copy the whole feed body for me?

[2016-04-15 04:18] terryh commented on #21
Yes, no problem.
https://feodotracker.abuse.ch/feodotracker.rss

[2016-04-15 04:26] mmcdole commented on #21
@terryh thanks, this should be an easy fix.  It will require an interface change to mmcdole/goxpp, but that is alright.

Let me write some unit tests and I'll have this issue fixed tomorrow!

[2016-04-15 05:17] mmcdole opened #23 "Enhance Print function for feeds"

[2016-04-15 05:26] mmcdole commented on #21
@terryh please try again with the latest from the `master` branch.

Don't forget to `go get` the latest deps as this fix required a change in `goxpp`.

[2016-04-15 15:32] pagedegeek opened #25 "XML syntax - illegal character code U+000C"
### Expected behavior
Parse content

### Actual behavior
Check http://blog.octo.com/category/architecture-et-technologies/feed/
error in channel: XML syntax error on line 574: illegal character code U+000C
XML syntax error on line 574: illegal character code U+000C

[2016-04-15 15:46] pagedegeek opened #26 "Unable to parse feeds with a BOM prefix"
### Expected behavior
Feed parsed

### Actual behavior
http://www.larevuedudigital.com/feed/ -> Failed to detect feed type

[2016-04-15 16:45] mmcdole commented on #26
@pagedegeek thanks for the bug report.  Looks like it is detects a text token before the tag token.

Let me work on a solution for the parsers/detector for this issue.

[2016-04-15 16:46] mmcdole commented on #25
@pagedegeek still narrowing down what the problem character is.  Something in the content of that element is terminating the CDATA section.  Will report back when I can narrow it down further.

[2016-04-15 16:48] mmcdole opened #27 "CDATA elements aren't being parsed correctly"
I seemed to have introduced a regression in parsing CDATA sections.  It is including the CDATA prefix itself in the parsed content.  I assume this was introduced when I fixed the naked markup issues.

I also need to add some more tests for both parsers around CDATA parsing.

[2016-04-15 16:50] mmcdole commented on #25
I've also opened up #27 as I notice I must have recently introduced a regression when parsing CDATA sections.

[2016-04-15 19:13] mmcdole commented on #26
This should be fixed in PR #28.  I'm going to leave this issue open until I get unit tests in for this scenario though.

[2016-04-16 03:56] mmcdole commented on #25
@pagedegeek can you retest against the latest in the master branch?  I've made an attempt at stripping illegal characters from the stream before parsing.

[2016-04-16 04:46] mmcdole commented on #27
Should be fixed with #30 but leaving open until I add unit tests for this.

[2016-04-16 04:52] mmcdole opened #31 "Parse content:encoded for Item.Content"
Starting parsing `content:encoded` for Item.Content for RSS feeds.

[2016-04-16 08:41] jpillora opened #33 "Feed creator (XML writer)"
Since all the structs are here, are there any plans to use them to create feeds?

[2016-04-16 16:36] pagedegeek commented on #25
it's ok :) thank you !

[2016-04-16 16:36] #25 closed

[2016-04-16 17:15] mmcdole opened #34 "Start vendoring dependencies"

[2016-04-16 19:57] mmcdole commented on #33
@jpillora I hadn't really considered it before, but it shouldn't be that hard.

Let me think on the interface some.

[2016-04-18 05:25] mmcdole opened #36 "Problems parsing enclosures with text tokens"
The following feed is failing to parse due to issues with the `<enclosure>` tag.  Need to look into this feed further.

[4171.txt](https://github.com/mmcdole/gofeed/files/223108/4171.txt)

[2016-04-18 05:36] mmcdole opened #37 "Improve parser error messages"
Currently when the feed encounters an unexpected token, I get an error message such as this:

I'd like to improve these error messages to give more context about the location and source of the error.

Attaching a broken feed file as an example.
[1016.txt](https://github.com/mmcdole/gofeed/files/223118/1016.txt)

[2016-04-18 18:02] mmcdole opened #38 "Failed to parse element with mixed content - YaleFeed"
Failed to parse the following feed:
http://feeds.feedburner.com/YalePressPodcastITunes

[2016-04-18 18:04] mmcdole opened #39 "Failed to parse gestalten tv feed"
Failed to parse the following feed:
http://feeds.feedburner.com/gestalten_tv

[2016-04-18 18:48] mmcdole commented on #36
Another feed with the same issue:

[2016-04-18 19:13] terinjokes opened #40 "atom.Parser atom:content type html might not be wrapped in DIV"
### Expected behavior

The following example entry, included within a valid Atom feed, should create a gofeed.Item with the following content.

[code]

[code]

### Actual behavior

[code]

### Steps to reproduce the behavior

The problematic feed is https://terinstock.com/atom.xml. The author is alright.

### Supporting documentation

[RFC 4287 § 4.1.3.3](https://tools.ietf.org/html/rfc4287#sectio

[2016-04-18 19:16] mmcdole commented on #40
@terinjokes thanks for the well written and sourced issue!    I'll look at this later tonight.

[2016-04-18 19:21] terinjokes commented on #40
@mmcdole Removing this OR case in [`parseAtomText`](https://github.com/mmcdole/gofeed/blob/59dbcc52906a0bbfc8619065df23dcc33e3c39ec/atom/parser.go#L675) resolve the reported issue, but I'm sure it's included to fix something else.

[2016-04-18 19:35] mmcdole commented on #40
@terinjokes I've got a PR up for this, but I have a test case failing.  However, after reading the quoted part of the Atom spec that you provided... I think the test case may be wrong (this test case was ported from https://github.com/kurtmckee/feedparser)

Test: https://github.com/mmcdole/gofeed/blob/atom_html_div_handling/testdata/parser/atom/atom10_feed_entry_content_div_escaped_markup.xml
Test

[2016-04-18 19:54] mmcdole commented on #36
This should be addressed by PR #41 but I'm leaving this open until I have the appropriate unit test cases to cover this issue.

[2016-04-18 19:55] mmcdole commented on #27
There is still an issue of encoded content being decoded inside a `CDATA` section.  I need to make sure that anything inside a CDATA is left *as is*.

[2016-04-18 20:43] terinjokes commented on #40
If it were me, I'd opt for the second behavior, leaving the <div> in if it's in the HTML content type. Stripping is explicitly mentioned in the XHTML case with no mention made in the HTML case.

A middle ground could be to unwrap the <div> if it's the only root `html.Node`. Would resolve this use case, and still account for other incorrect feeds.

[2016-04-19 04:24] mmcdole commented on #40
I've merged #42 into master.

After thinking on it some, I decided on the following compromise:

- If you are within spec (encoded html only) and your type is `html`, no div/element will be removed.
- If you are out of spec, by having an unencoded wrapper div with no siblings, it will be removed even if your type is `html`.

My goal ultimately is to parse the feeds as faithfully to the spec as a c

[2016-04-19 04:25] mmcdole commented on #40
Let me know if this solves your issue!

[2016-04-19 13:35] mmcdole opened #43 "Modify code coverage reporting to include all packages"
I need to research how to get our code-coverage CI tool to include the aggregate coverage for all of `gofeed`'s packages. Having it just be the coverage for the `gofeed` package doesn't seem as useful.

[2016-04-19 15:58] mmcdole commented on #38
This is the offending item:

[code]

Note the stray:

[code]

Parser chokes on the text: `(odeo/4333e0e397746fe3)` when it is expecting the end tag for `item`.  Need to think on this.

[2016-04-19 16:03] mmcdole commented on #37
I've modified the `goxpp` to include the file offset where it encountered an error.

This should help.

[2016-04-19 16:03] #37 closed

[2016-04-19 17:25] mmcdole commented on #39
Problem is around an unterminated comment:

[code]

[2016-04-19 17:25] mmcdole commented on #39
Closing as I don't think there is anything I can do about this issue.

[2016-04-19 17:25] #39 closed

[2016-04-19 21:31] #40 closed

[2016-04-19 21:40] mmcdole commented on #38
This should be addressed with PR #44.  I now skip any tokens that are Start/EndTag or EndDocument in my `NextTag` method.

[2016-04-19 22:44] terinjokes commented on #40
@mmcdole looking good so far.

[2016-04-24 17:03] kurtmckee opened #47 "Copyright attribution and licensing required for XML unit tests"
Hey Matthew, thanks for your help over on the feedparser issue tracker!

Mark Pilgrim claimed copyright over the feedparser XML unit tests released them under the 2-clause BSD license. In addition, I've spent the last six years cleaning up and adding new XML unit tests. However, I didn't see any copyright attribution nor the text of the 2-clause BSD license, both of which are mandatory in order to

[2016-04-24 18:38] #47 closed

[2016-04-24 18:50] mmcdole commented on #47
@kurtmckee no problem.  Thanks for pointing out the attribution issue.

I'd really like to avoid a dual license situation so I've deleted any test case that was ported from the feedparser project.  There were many in the project which I had created myself, but I didn't keep very good records identifying which were new and which were not, so to be safe, I purged them all.

As the structure and spec

[2016-04-24 18:57] mmcdole commented on #47
Let me know if the deletion of these files in the `master` branch is sufficient, or if you would prefer me to perform a `git filter-branch` to permanently expunge them from my history.

[2016-04-24 18:59] kurtmckee commented on #47
@mmcdole Thanks for the quick update! =)

I understand not wanting to deal with multiple licenses; I once read through all of the license information for Python itself and it is a big ball o' different licenses, author attributions, and oddities. And you're right, it's only the XML files included in feedparser that fall under copyright; Atom and RSS exist completely separately.

The deletion is su

[2016-04-24 19:14] mmcdole opened #49 "Rewrite tests that were removed due to licensing issues"

[2016-04-24 20:19] mmcdole opened #50 "Parse http://eatcodeplay.com/feed.xml"
This malformed feed has a self-closing feed tag at the beginning of it.  Need to iterate through other sibling elements if the first element is empty?

[2016-06-22 16:41] skota opened #52 "Cannot build"
### Expected behavior
Be able to run go feed

### Actual behavior
When i try to 'go build', i am seeing this error.
'package gofeed
	imports github.com/mmcdole/gofeed/internal/shared: use of internal package not allowed'

My go version is 'go version go1.5.1 darwin/amd64'

### Steps to reproduce the behavior
run go build

Note: Please include any links to problem feeds, or the feed content itself!

[2016-06-22 18:38] mmcdole commented on #52
Can you post the code where you are attempting to use the library?

[2016-06-22 18:47] skota commented on #52
Hello, i just did a git clone and tried to build , is this meant to be used a different way? I am new to go ,perhaps i misunderstood how to use it?

[2016-06-22 18:56] skota commented on #52
Please ignore this. I just re read the docs and i can use the library without  issues.

[2016-06-22 18:56] #52 closed

[2016-06-22 19:05] mmcdole commented on #52
@skota ok.  If you need a quick easy way to test, I've included a test utilty.

Go to the `cmd/ftest/` directory, and a `go build` in there.

Then you can do the `ftest` command and hand it a file or feed URL to see how it parses.

[2016-07-09 07:25] farhad-arjmand opened #54 "Error : EOF"
many times i have ERROR: EOF
for eample :http://basijnews.ir/fa/rss/39: EOF

[2016-07-09 07:26] farhad-arjmand opened #55 "socket: too many open files"
when i start parser with 30 feed url i have error:
socket: too many open files

[2016-07-09 19:57] mmcdole commented on #54
This feed parsed fine for me:

[code]

Can you post code where it does not?

[2016-07-09 19:57] mmcdole commented on #55
Please provide sample code that exhibits this problem.

[2016-07-12 06:06] #55 closed

[2016-07-21 13:24] mmcdole commented on #54
@farhad-arjmand can you please post an example code sample that exhibits the problem?

[2016-08-22 12:26] galdor opened #56 "HTTP errors are ignored"
### Expected behavior
When calling `ParseURL()` on a feed URL, if the server returns an error (e.g. 404), `ParseURL()` should return this error.

### Actual behavior
`ParseURL()` returns "Failed to detect feed type".

### Steps to reproduce the behavior
Simple example: use `ParseURL()` on http://boinkor.net/atom.xml (should return 404).

[2016-08-22 13:33] #56 closed

[2016-08-22 13:34] mmcdole commented on #56
Fixed in #57.  Thanks!

[2016-08-22 13:34] mmcdole commented on #54
Closing this issue for now as I have no steps to reproduce and I'm unable to reproduce it on my own.

[2016-08-22 13:34] #54 closed

[2016-08-27 14:53] KlonD90 commented on #21
It doesn't work for
http://sled-udmproc.ru/rss
._.

[2016-08-27 18:31] mmcdole commented on #21
Thanks for the report.  Looking into charset handling.

Sent from my iPhone

[2016-08-27 18:47] mmcdole commented on #21
@KlonD90 looks like the issue is with my sanitize function.  If I remove that it parses fine:

https://github.com/mmcdole/gofeed/blob/master/rss/parser.go#L19

That code was put in to strip "illegal" characters to fix #25.  Need to see how to resolve this issue in a way that it fixes both problems.

[2016-08-27 20:35] KlonD90 commented on #21
@mmcdole
Thank you. It's work for me :o

[2016-08-29 18:05] RalphCorderoy opened #59 "http.Get can return non-nil response on non-nil error"
Are you aware that http.Get can return a non-nil response that still needs closing even if err is non-nil as well? Not doing so leaks. http://devs.cloudimmunity.com/gotchas-and-common-mistakes-in-go-golang/index.html#close_http_resp_body

[2016-08-30 00:41] mmcdole commented on #59
@RalphCorderoy I was not aware of that.  Can you look at PR #60 and let me know if that fixes the issue.

[2016-08-30 02:07] james-relyea opened #61 "ITunesFeedExtension.Image & ITunesItemExtension.Image"
I'm not 100% sure about this but I think the logic to parse the `<itunes:image>` element into `ITunesFeedExtension.Image` and `ITunesItemExtension.Image` may need an update.

All the feeds I'm parsing seem to be using a self-closing tag with the image URL contained in the `href` attribute. Currently the parser calls `parseTextExtension("image", extensions)` which returns an empty string.

I've mod

[2016-08-30 02:12] mmcdole commented on #59
Further sources that point to that blog post being incorrect:

https://groups.google.com/forum/#!topic/golang-nuts/AidX-vUBLI0

[2016-08-30 02:12] #59 closed

[2016-08-30 02:14] mmcdole commented on #61
Thanks for the issue!  Can you link to an example feed that I can test?

[2016-08-30 02:27] james-relyea commented on #61
A few I tested with:
- http://www.cbc.ca/podcasting/includes/spark.xml<br/>
  (https://itunes.apple.com/ca/podcast/spark-from-cbc-radio/id263242885?mt=2)
- http://feeds.feedburner.com/JayandDan<br/>(https://itunes.apple.com/ca/podcast/the-jay-dan-podcast/id690863774?mt=2)
- http://feeds.gimletmedia.com/sciencevs<br/>(https://itunes.apple.com/us/podcast/science-vs-new-season/id1051557000?mt=2)

`<i

[2016-08-30 03:38] #61 closed

[2016-08-30 03:39] mmcdole commented on #61
@james-relyea should be in master now.  Let me know if you have any issues

[2016-08-30 03:41] mmcdole opened #63 "Expose iTunesExt and DublinExt in gofeed.Feed (not just rss.Feed)"

[2016-09-01 16:58] galdor opened #64 "Numerical character references are not decoded in text elements"
### Expected behavior
Feeds are XML documents. Character data can contains both predefined entites (such as `&lt;`) and numerical character references (e.g. `&#34;`). These references must be decoded; for example, `&#34;` has to be decoded to `"`. `encoding/xml` does it properly.

### Actual behavior
Gofeed decodes predefined entities (`internal/shared/parseutils.go`: `DecodeEntities`) but ignores

[2016-09-01 17:04] galdor commented on #64
For you information, numerical character references are decoded by `encoding/xml` starting at line 991 of https://golang.org/src/encoding/xml/xml.go.

[2016-09-02 15:03] mmcdole commented on #64
@galdor thanks for the bug report.

For a number of reasons I was unable to utilize go's built in xml chardata decoding.  Mostly because I wanted to be able to parse naked XML/HTML for certain elements.  This has me using the `,innerxml` attribute which bypasses the built-in code you referenced.

So, I think to do this correctly, I'm going to have to re-implement what they do myself.  I'll have to

[2016-09-02 15:13] galdor commented on #64
So there's only `DecodeEntities` to modify, i.e. parse the string to decode both types of entities ? I could give it a try if you wish.

[2016-09-02 15:27] mmcdole commented on #64
@galdor sure, give it a try.

I had considered implementing it like I did the other entity decoding, but I was concerned if there was a lot of the numeric entities that we would have to match, it may be an expensive operation to `strings.Replace` for so many items.

But, perhaps doing it the slow way is better than nothing for now, and I can take time to implement it on a character-by-charcter bas

[2016-09-02 15:57] galdor commented on #64
I should have a patch for you tomorrow.

[2016-09-03 04:09] #64 closed

[2016-09-23 14:52] Cj-Malone commented on #50
I don't think you should parse this feed. Feed requires certain children and the first tag doesn't so it's against spec, and an error should be returned.

Interestingly though I'm not sure if the spec allows multiple feed tags in a single file. The [spec](https://tools.ietf.org/html/rfc4287#section-2) explicitly says that an Atom Entry Document can only have one Entry tag, but it less direct about

[2016-09-29 18:14] mmcdole commented on #50
@Cj-Malone I've been trying to balance being pragmatic about parsing out of spec feeds.  However, I think you are right in this case, this feed probably should fail and the accommodations for this specific broken feed aren't worth the increased complexity.

Thanks for your comment!

[2016-09-29 18:14] #50 closed

[2016-10-25 15:35] #26 closed

[2016-12-18 23:30] mmcdole commented on #49
This was finally completed!

[2016-12-18 23:30] #49 closed

[2016-12-18 23:31] mmcdole commented on #38
This has been taken care of and I've added "Mixed Content" tests

[2016-12-18 23:31] #38 closed

[2016-12-18 23:39] #36 closed

[2016-12-19 00:11] mmcdole commented on #43
Done!

[2016-12-19 00:11] #43 closed

[2016-12-19 00:14] #27 closed

[2017-04-26 05:50] leominov opened #72 "Failed to detect feed type (twitter blog)"
### Expected behavior

[code]

### Actual behavior

[code]

### Steps to reproduce the behavior

[code]

Function `shared.FindRoot(p)` returns `XML syntax error on line 1: invalid UTF-8`, but I can't figure how to fix it. On [validator.w3.org](https://validator.w3.org/feed/check.cgi?url=https%3A%2F%2Fblog.twitter.com%2Fapi%2Fblog.rss%3Fname%3Dengineering) this RSS looks ok.

[2017-04-26 06:03] leominov commented on #72
Oh, its just gzipped answer from twitter web server. Problem but not for this issue :)

[2017-04-26 06:03] #72 closed

[2017-04-26 19:18] jhautefeuille opened #73 "item.PublishedParsed and *time.Time"
When I try to use item.PublishedParsed in goroutine, error occurs like

`panic: runtime error: invalid memory address or nil pointer dereference [recovered]
	panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x69193e]
`
item.PublishedParsed is a *time.Time type.

But on official golang doc https://golang.org/pkg/tim

[2017-04-26 20:50] mmcdole commented on #73
This [SO question and answer](http://stackoverflow.com/questions/22074077/time-time-pointer-or-value), with comments, goes over why one would want to store time.Time as a pointer.

This [go-nuts](https://groups.google.com/forum/#!topic/golang-nuts/eRMeLv1_IXc) thread covers the same ground.

In short, I want to be able to JSON encode the Feed and Item types, and I want them to omit nil Time entrie

[2017-05-05 17:47] jhautefeuille commented on #73
Sorry for the delay in my reply.

You are absolutely right.

In fact, having read the articles of your links, I understood my mistake.

The principle of the program: I read a text file, for each url, I run a goroutine. Each goroutine parses the flow and sends the result into a channel.

My error was that after retrieving item.PublishedParsed, I would convert it to a string before applying Format (

[2017-05-05 17:47] #73 closed

[2017-05-22 00:05] mattgen88 commented on #34
Seems odd to vendor dependencies of what seems like a library. Generally consuming applications would vendor the appropriate dependencies.

[2017-06-26 16:26] yamamushi opened #74 "Add support for user defined user-agent string"
### Expected behavior

Parsing https://www.reddit.com/r/games/.rss should work with an appropriate delay in making requests (Reddit asks for 2 seconds between bot requests).

To further describe the issue, this could be resolved if we had the option of defining our own user-agent strings (or any headers for that matter) when calling gofeed.ParseURL(url string) or when constructing our parser with

[2017-07-05 08:41] xfort commented on #33
How to create feeds

[2017-07-13 10:05] Kegsay opened #75 "Feed type cannot be detected"
### Expected behavior
The feed is apparently a valid Atom 1.0 feed according to the W3C. https://validator.w3.org/feed/check.cgi?url=http%3A%2F%2Fwww.qdep.org%2Ffeed%2Fatom%2F

### Actual behavior
Error message: "Failed to detect feed type".

### Steps to reproduce the behavior
Try parsing http://www.qdep.org/feed/atom/ on commit `1bc2cbeba25b7b594430cff43d7c9e9367cfdca0`

xref : https://github.co

[2017-07-17 14:12] mmcdole commented on #75
Looking into this.

[2017-07-17 14:26] mmcdole commented on #75
@Kegsay if you curl that URL, you can see that response is:

[code]

It appears that the HTTP request that `gofeed` makes is being flagged by their server's Incapsula WAF, while the validator website is receiving the proper feed response.

I'm honestly not sure how to modify our requests such that an overly aggressive Incapsula won't block them.  The `gofeed.Parser` uses golang's default http.clie

[2017-07-17 14:34] mmcdole commented on #34
@mattgen88 this makes sense.  Closing this issue.

[2017-07-17 14:34] #34 closed

[2017-07-17 14:37] mmcdole commented on #33
@xfort as it stands, this library is strictly for parsing / reading feeds, not creating them.

I'm open to the possibility of creating them, but I would want to do it in a way that made sense with the current API.

[2017-07-18 10:45] Kegsay commented on #75
Thanks for looking into this. Interesting to see how broken that site is. I don't think you can set a default user agent header on `http.Client` which is annoying, otherwise I'd just suggest making this the caller's problem. I guess I could intercept the `RoundTripper` and set the User-Agent there.

Either way, this isn't really your problem. Thanks!

[2017-07-18 10:45] #75 closed

[2017-07-18 22:30] daniellowtw opened #76 "Feed is parsed into the extensions map when there is a single "extension" node"
The feed I am trying to parse has a few nodes that are using a different namespace. The library causes the whole feed to be parsed into the extension map instead of just those few nodes. Ideally, I'd like to be able to access the content from the `Item` slice and discard the extension map.

The feed in question is http://feeds.feedburner.com/blogspot/RLXA

### Expected behavior

The feed to parse

[2017-07-18 23:09] mmcdole commented on #76
Thanks for the report, I'll look into this.

On Tue, Jul 18, 2017 at 5:30 PM, Daniel Low <notifications@github.com>
wrote:

[2017-07-20 11:55] mmcdole commented on #76
I've merged your PR into `goxpp`, so hopefully this should be resolved.  I tested myself and the feed is no longer being placed entirely in the extension map.

[2017-07-20 12:57] daniellowtw commented on #76
Awesome! Thanks for the quick response!

[2017-07-20 12:57] #76 closed

[2017-08-16 02:43] deepilla opened #78 "Missing or incomplete values when parsing extensions"
### Expected behavior

When parsing [this RSS feed](http://portal-api.thisisdistorted.com/xml/leftism), the `iTunesExt.Summary` field should be correctly populated for each item in the feed.

### Actual behavior

The `iTunesExt.Summary` field is blank for every item.

### Steps to reproduce the behavior

Parse the feed and inspect the resulting rss.Item values. You could also look at the translate

[2017-08-19 13:22] mmcdole commented on #78
Looking into this.  Thanks for the report!

[2017-08-26 20:59] deepilla commented on #78
Did you manage to reproduce this?

[2017-08-27 04:03] mmcdole commented on #78
Yes, I was able to reproduce it.

I think your solution is a good one.  Perhaps we should only TrimSpace after we have aggregated all consecutive text nodes.  That way we won't be trimming space in the middle of a `CData` section that has line breaks.

[2017-08-27 07:47] deepilla commented on #78
Sounds good. Do you want me to submit a PR or will you make the change?

[2017-08-29 14:58] mmcdole commented on #78
I'll work on this today!

[2017-08-29 20:56] mmcdole commented on #78
https://github.com/mmcdole/gofeed/pull/79 should hopefully address this issue.  Can you take a quick look?

[2017-08-30 05:45] deepilla commented on #78
Yep, this is fixed in the `fix_extension_parsing` branch.

[2017-08-30 13:58] mmcdole commented on #78
Merged.  Thanks for the report!

[2017-08-30 13:58] #78 closed

[2017-10-05 08:41] ishaan119 commented on #31
Any update on this?

[2017-10-12 20:21] donatj opened #80 "JSON Feed Support?"
Any plans on supporting the JSON Feed format?

https://jsonfeed.org/

Obviously JSON is easy enough to parse on it's own, but it would be great to be able to have it just work with this out of the box.

[2017-10-15 14:19] mmcdole commented on #80
Yes, absolutely.  I plan on adding JSON Feed format relatively soon.

[2017-10-16 13:44] Nhoya opened #82 "Parsing custom tags in Item"
Hi,
i'm trying to parse this feed https://ctftime.org/event/list/upcoming/rss/
As you can see each item has tags like `weight` but i can't  find a way to parse them, looking at the doc i can't find anything about that

[2017-10-16 16:12] mmcdole commented on #82
Unfortunately, this is considered an invalid feed per the spec:

No namespace is specified on these elements.  If there was a namespace specified, these items would be present in the `feed.Extensions` map.

I'm not sure what I could do to to handle these invalid feeds. Perhaps try and dump them into a special entry in the `Extensions` map, but I'm not sure.

[2017-10-16 17:14] Nhoya commented on #82
In python i can handle this feed using https://github.com/kurtmckee/feedparser maybe you can follow the same idea

[2017-10-17 02:56] mmcdole commented on #82
Let  me take a look at what feedparser is doing for this case.

[2017-11-01 14:11] bogatuadrian commented on #74
As a workaround you could use your own transport by implementing the `RoundTripper` interface to set the `User-Agent` header, like:
[code]

The `<platform>:<app ID>:<version string> (by /u/<reddit username>)` is suggested by the [reddit API documentation](https://github.com/reddit/reddit/wiki/API#rules).

[2017-11-02 02:38] danmactough commented on #2
@mmcdole For atom feeds, can we also consider the feed's [[link rel="self"]](https://tools.ietf.org/html/rfc4287#section-4.1.1) value as the "base" against which to resolve relative urls (absent an explicit `xml:base` declaration)?

[2017-11-02 16:17] cjacques1 opened #83 "ParseURL should have reasonable timeout"
### Expected behavior
If the connection to the given url is hanging, the httpClient should timeout.
Ideally the desired timeout could be an argument with a reasonable default

### Actual behavior
the connection hangs

### Steps to reproduce the behavior
find a url with really slow network and try parsing it.

Note: Please include any links to problem feeds, or the feed content itself!
the link tha

[2017-11-16 17:31] ciokan opened #84 "Use of internal package not allowed"
Sample code:

[code]

If I run it: `vendor/github.com/mmcdole/gofeed/detector.go:7:2: use of internal package not allowed`
I also tried with a url feed with same result.

[2017-11-29 20:43] armhold opened #85 "failure to parse categories from RSS (?) doc"
### Expected behavior

I expect feed.Categories to be `["News &amp; Politics"]`.

### Actual behavior

feed.Categories is: `[Jon Favreau POTUS Donald Trump politics Tommy Vietor Dan Pfeiffer Jon Lovett Pod Save America News & Politics]`.

### Steps to reproduce the behavior

Please see unit test here: https://gist.github.com/armhold/96be9635883fd417b6cb82ab445abddd

This feed comes from: http://fe

[2017-12-07 03:53] mmcdole commented on #31
Should be resolved by https://github.com/mmcdole/gofeed/pull/86

[2017-12-07 03:53] #31 closed

[2017-12-07 04:10] mmcdole commented on #84
What vendoring tool are you using? Go version?

I suspect this is a vendoring issue on your end.

[2017-12-07 04:46] mmcdole commented on #85
I think this is expected behavior.

If you take a look here:
https://github.com/mmcdole/gofeed/blob/master/translator.go#L211

Feed.Categories comes from:

[code]

These are all appended together into the same Feed "Categories" slice.

You have two options here if you don't want this behavior.

1. [You can write a custom translator very easily](https://github.com/mmcdole/gofeed#parse-a-feed-while-

[2017-12-07 04:46] #85 closed

[2017-12-07 12:07] armhold commented on #85
Ah, I get it, thanks. My programmer sense was that there was an off-by-one error in parsing the input. But I failed to take into account that gofeed.Feed is an amalgamation of the different feed types.

Sorry for the noise, and thanks for writing gofeed.

[2017-12-12 20:14] captaincurrie opened #87 "Zeroing not done for gofeed.Item.Author"
Hello,

When a feed does not specify the author, the gofeed parser does not bother zeroing the
item.Author.Name and item.Author.Email fields.

### Expected behavior when author is not set in the feed
item.Author.Name -> ""

### Actual behavior
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x0 pc=0x6842a1]

goroutine 1

[2017-12-16 16:39] mmcdole commented on #87
@captaincurrie are you sure the issue isn't that `item.Author` is a pointer to a `Person` object.

You must check if this `item.Author` is nil, before accessing the `Name` field.  The Name field should have the default value of empty string if `Author` is not nil.

[2017-12-16 16:39] #87 closed

[2017-12-16 16:41] mmcdole commented on #84
Closing for now, pending more information.

[2017-12-16 16:41] #84 closed

[2017-12-18 18:47] captaincurrie commented on #87
Oh. So it is by design.

I assumed a better design would be to initialize the item.Author to a struct with empty strings for both
Person and Email

[2017-12-24 21:26] mmcdole commented on #87
@captaincurrie It is so you can differentiate between a feed having an element or not.  For example, if you render a gofeed.Feed to JSON, you won't see an "Author" element in the rendered JSON if it was not present in the original feed.

It comes at the cost of having to nil check sub items before accessing them.

[2017-12-24 21:44] captaincurrie commented on #87
Agreed. Thanks for all your work :+1:

[2018-01-05 06:56] peteretelej commented on #83
set your desired timeout on the parser's client:
[code]

[2018-01-17 16:44] doesntgolf commented on #80
Sorry to pile onto the request, but maybe if JSON Feed support is being added, [Activity Streams](http://activitystrea.ms/) would also be considered? It's the basis for [ActivityPub](http://activitypub.rocks/), which the [Mastodon](https://joinmastodon.org/) network is built on.

[2018-01-17 16:51] doesntgolf opened #88 "ActivityStreams Support"
Would [ActivityStreams](http://activitystrea.ms/) support be considered? It's the basis for [ActivityPub](http://activitypub.rocks/), which the [Mastodon](https://joinmastodon.org/) network is built on.

(Sorry, I originally posted this on #80 and realized it should probably be a separate item.)

[2018-02-19 13:02] davidsbond opened #90 "RSS Feed data missing in 1.0.0-beta2"
### Expected behavior
When using v1.0.0-beta, requesting this feed `https://medium.com/feed/@ev` has the blog post content in:

[code]
### Actual behavior
When using v1.0.0-beta2, accessing the same field causes errors, as the extension data is no longer present.

### Steps to reproduce the behavior
Using the above code on v1.0.0-beta returns the RSS content. On v1.0.0-beta2, it does not.

[2018-02-20 03:08] mmcdole commented on #90
@davidsbond I apologize for this backward incompatible change.

This was the result of us merging https://github.com/mmcdole/gofeed/pull/86, which was to fix bug https://github.com/mmcdole/gofeed/issues/31

You can now access this data via `Item.Content` directly.  Greater care should have been taken on my part to ensure that the old behavior remained as well however.

[2018-02-23 14:20] davidsbond commented on #90
Thanks for the info! Have version locked to 1.0.0-beta but will try `Item.Content`

[2018-02-23 14:20] #90 closed

[2018-03-09 16:54] carthics commented on #74
@bogatuadrian Thank you very much. This was really useful!

[2018-04-01 05:00] Viusing opened #91 "HTTP Error 429 - Reddit"
Parse a Reddit URL.

Causes the Reddit web service to respond with a 429 error.

[code]

e is not nil, returns http 429 error

[2018-04-01 05:24] Viusing commented on #91
Found an almost identical issue.

[2018-04-01 05:24] #91 closed

[2018-04-11 15:34] dalu opened #92 "error parsing this content"
Right now this feed has an error

https://martinplaut.wordpress.com/feed/

[code]

XML syntax error on line 798: illegal character code U+0002

which is apparently
`]]></content:encoded>`
if that's correct

[2018-05-21 12:01] Matt3o12 opened #94 "Timezones name do not effect the offset in PublishedParsed"
`Sun, 06 Sep 2009 16:18:00 EST `is parsed as `2009-09-06 16:18:00 UTC` although it should be parsed as `2009-09-06 21:18:00 UTC` --> to say more precisely, the timezone EST is ignored. This is "default" behavior for go's `time.Parse()` method because timezone names are actually not well defined. You can learn more [here](https://news.ycombinator.com/item?id=10199812) but the short story is timezon

[2018-06-19 09:39] awused opened #95 "Items are returned with empty GUIDs"
### Expected behavior

A GUID should always be generated for every item.

Given an invalid but real world feed that only specifies title, description, link, and pubDate a GUID should still be generated. go-pkg-rss fell back to title + pubDate, and had further fallbacks.

### Actual behavior

Items with empty GUIDs, which are supposed to serve as unique identifiers, are returned.

### Steps to repr

[2018-06-21 22:23] cheungaryk opened #96 "Okta Trust RSS "Failed to detect feed type" half of the time"
Using a cron script on Google Cloud to get Okta trust feed (https://trust.okta.com/services/xml/OktaTrustRSS) every 5 minutes. Here is my code to call the funcs:

[code]
### Expected behavior
Expecting to have no errors returned

### Actual behavior
Half of the time it will return error "Failed to detect feed type", half of the time returns no error.

### Steps to reproduce the behavior
Unknown wh

[2018-07-04 01:40] mmcdole commented on #96
This usually happens when a service rate limits a particular IP address.  It is entirely possible that google requests are not put under the same rate limit.

To progress this issue further, I would need you to supply string response from the service that causes GoFeed issues.  You can do this by fetching the response yourself, then passing the string to the GoFeed library.  Do this until you get

[2018-07-04 01:50] mmcdole commented on #95
I'm not certain it is appropriate for me to generate GUIDs for feeds that don't provide them themselves.  For one, GUID is an optional field in the RSS spec.  Secondly, the semantics for what might make an appropriate GUID can vary by feed type and domain.

For example, in podcast applications it is common to include the media file URL as an input into a GUID generation process.  This obviously wo

[2018-07-04 01:50] #95 closed

[2018-07-04 01:56] mmcdole commented on #94
@Matt3o12 sorry for the delay in responding.   This makes sense to me and I think it would be a worth change!

I find this link also interesting regarding the Python Feedparser library: https://pythonhosted.org/feedparser/date-parsing.html

It talks a little about its timezone parsing it does as well.  Let me know how I can help.

[2018-07-05 17:12] cheungaryk commented on #96
Ah, that makes a lot of sense. Perhaps I can relax the ping frequency to see if it will mitigate the issue.

I will get back to you on the response.

[2018-07-05 18:29] cheungaryk commented on #96
I am now seeing that Okta page sometimes gives out 404 errors (then sometimes working and showing the xml) when I visit it directly from the web browser. Unsure if it was happening before, but if it was, then it may be the culprit. I will be doing some more investigations on this before closing, thank you for your help thus far!

[2018-07-05 19:37] cheungaryk commented on #96
Now tested and ran with a simple for loop:

[code]

Could not reproduce that error, so it certainly looks like an error with Okta.

Then I ran this inside the for loop instead:

[code]

and got this in return:

[code]

So definitely this is something on the server side. I think I am ready to close now, unless you have any further suggestions. Thank you!

[2018-09-19 06:39] gonejack opened #98 "Not parsing content correctly with multiple CDATA tags"
### Expected behavior
No ]]> in item content.

### Actual behavior
Parse only first <![CDATA[, regarding other <![CDATA[ as content.

### Steps to reproduce the behavior
I have a feed which having multi CDATA tag inside item content.
[code]
![image](https://user-images.githubusercontent.com/2720676/45734790-553b8080-bc18-11e8-870e-37eac7c26e02.png)

with code:
[code]

The parsed content is incorre

[2018-09-21 15:11] cristoper opened #99 "Atom: Title with type="html" and CDATA"
I'm parsing an atom feed which both sets the title type to html and wraps the encoded html in a CDATA construct. gofeed currently returns the CDATA content without decoding the html entities (like an XML parser), but then how does my app know that it needs to be html decoded for rendering?

I found this 2016 stackoverflow question by @mmcdole which asks about this dilemma, but without a clear reso

[2018-09-21 15:12] gonejack commented on #98
I made a quick fix, is this acceptable for this parsing?

[code]

[2018-09-24 20:41] hdinthkld opened #100 "Documentation incorrectly refers to 'Guid' for item where it should be 'GUID'"
### Expected behaviour
When using item.Guid it should return the value of Guid

### Actual behaviour
Error is returned:
Item.Guid undefined (type *gofeed.Item has no field or method Guid, but does have GUID)

### Steps to reproduce the behaviour
1. Read from a feed
2. Attempt to access 'Guid' method

Note: Please include any links to problem feeds, or the feed content itself!
Documentation is inco

[2018-09-26 03:27] cristoper commented on #33
In the mean time I'm using this package to serialize feeds after parsing with gofeed (it supports RSS, Atom, and JSON Feed):

https://github.com/gorilla/feeds

It would be convenient to not have to translate between gofeed structs and gorilla/feed structs, but it is not much trouble and seems to work well.

[2018-09-30 13:28] #100 closed

[2018-09-30 13:30] mmcdole commented on #100
Thank you for the issue, should be corrected.

[2018-10-11 12:40] mmcdole commented on #94
@FedericoPonzi I'm considering offloading our date parsing to the following library:
https://github.com/araddon/dateparse

It's byte parser / state machine should be much faster than what we do today, and it looks like he appropriately handles timezone.

Could you try the above library on your example date and see what result you get for the parsed date?

[2018-10-13 03:10] mmcdole opened #104 "Add go.mod file"
Need to add a go.mod file and modify travis building

[2018-10-16 16:30] brunocassol opened #105 "Unknown elements not present in Item.Extensions"
### Expected behavior
Parsing https://news.ycombinator.com/rss would put `<comments>...</comments>` inside Item.Extensions.

### Actual behavior
Item.Extensions is empty.

### Steps to reproduce the behavior
[code]

Perhaps I'm misunderstanding the documentation but I expected that unknown fields would be mapped to Item.Extension? If I need to write an extension for this, is there an example code?

[2018-10-16 20:38] brunocassol commented on #105
Seems that I did misunderstand the documentation but I managed to solve it now. This part was confusing me:

I managed to do what I needed  by creating a custom Translator instead with the help of docs:
[code]

This the important part of the above code:
[code]

Then use Translator like this:
[code]

All good now! Thanks for the library! 👍🏻

[2018-10-16 20:38] #105 closed

[2018-10-24 13:33] GaruGaru commented on #74
#108 Should resolve this

[2018-11-02 16:12] ppetko opened #109 "Can't parse media content"
### Expected behavior

I'm trying to parse media content using Image.Title and Image.URL, but it seems either is not working or I'm using it wrong.

I would expect to get in return the image title and the image url.

[code]

### Actual behavior
[code]
### Steps to reproduce the behavior

Test code is available https://play.golang.org/p/rJ_hYX41gPz
Enable  line 16 and 17 to see the error message.

[2018-11-02 17:33] mmcdole commented on #109
The `image` object is a pointer and you are accessing it without checking if it is nil.  There is no image element for these items.

Here is an example item from your feed as gofeed sees it:

[code]

If you are interested in getting the media>thumbnail you can access it via the Item.Extensions map.

[2018-11-02 18:20] ppetko commented on #109
Hi @mmcdole ,

Thank you for the prompt reply and quick turnaround.

I was able to pull a string that includes the image url using feed.Items[i].Extensions["media"]["thumbnail"][0], which is good enough for me. I'm going to familiarize myself with your project. I will take a look of the custom extension.

Thanks again!

[2018-11-02 18:20] #109 closed

[2018-11-12 14:17] farhad-arjmand opened #110 "get feed data from url"
how i can get full rss data from url

[2018-12-29 22:03] requaos opened #111 "Add support for Etag, Last-Modified, If-None-Match and If-Modified-Since http headers on request and response"
### Expected behavior
Getting the Etag and Last-Modified header values on the Feed object

### Actual behavior
These values are not inspected for or provided

[2018-12-30 19:38] leighmcculloch commented on #104
PR #112 adds a go.mod and modifies the travis config to test with and without modules. The builds passes. 😄

[2019-01-02 19:17] requaos commented on #111
I'll just leave this here:

[code]

[2019-01-02 19:19] requaos commented on #111
@mmcdole I only needed to extend the struct to add `Etag` and `LastModified` to provide this functionality

[2019-01-03 23:57] #104 closed

[2019-01-04 15:12] requaos commented on #111
I could make a PR that modifies the ParseURL function like this:
`ParseURL(url string, opts ...Options)`
And define an etag option and a lastmodified option. By changing the signature to accept a variadic second parameter we would be able to add this functionality without introducing a breaking change to the API.

[2019-01-06 14:51] mmcdole commented on #111
@requaos I like the idea of the variadic parameter.  I think that would be a good idea.

Some items in Options that I know people have requested:

- ETAG

- LastModified

- User-Agent

- Timeout

[2019-01-22 10:12] lutzhorn commented on #92
U+0002 is [Start of Text](https://en.wikipedia.org/wiki/C0_and_C1_control_codes#STX). This character is not present in the XML you've pasted in your question.

This probably is a temporary error of the Wordpress feed.

[2019-01-23 07:15] dalu commented on #92
If you reacted when it was created the source would still be in its invalid state.
So the issue now remains and you can't debug it.
Now you can say "that's not my problem, filter the source before parsing", but that would defeat the whole point of this package.

[2019-01-23 08:42] lutzhorn commented on #92
Sorry, but I discovered this package only yesterday. And I don't say that you should filter the XML. But the cause for this problem seems to be broken XML which no RSS or Atom parser can fix.

How does this package react to this broken XML? If it catches and handles the error, there is no issue.

[2019-01-25 03:21] dalu commented on #92
Oh I see. I mistook you for the or one of the maintainer/s.

It's unable to deal with it. I've removed the feed in question so it doesn't happen again.

[2019-01-30 02:09] carlmjohnson commented on #94
I am also interested in this issue. I may issue a patch if I can.

[2019-01-30 08:21] lutzhorn opened #115 "Use of internal package makes working on a fork difficutl"
`detector.go` [imports an internal package](https://github.com/mmcdole/gofeed/blob/cfd2ad2a817fb1febee3d69e2a3ca72ac6a6a2b8/detector.go#L7):

[code]

This makes it difficult to build main in a fork:

[code]

I suggest to rename `internal` so that building in a fork is possible.

[2019-02-01 20:40] dy-dx opened #116 "Fails parsing cdata markup that is followed by escaped markup"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

Note: Please include any links to problem feeds, or the feed content itself!

[2019-02-01 20:40] #116 closed

[2019-02-01 20:40] dy-dx commented on #116
whoops, misclicked

[2019-02-01 20:47] dy-dx opened #117 "Fails parsing cdata markup that is followed by escaped markup"
When parsing this valid xml:
[code]

gofeed fails with the error message:
[code]

[2019-02-01 21:10] lutzhorn commented on #117
I can confirm that this is not a problem of `encoding/xml` which has no problems decoding this input. See https://play.golang.org/p/wWJicjEa-iv

[2019-02-02 04:37] mmcdole commented on #115
I don't feel especially strongly about the `internal` package, but I do believe I'm using it as intended following Go conventions.  Most of the items in `internal` are not meant to be exported or part of the public API for the library.

Here is an answer of how to possibly work on a fork, from another project that has a similar structure:

https://stackoverflow.com/questions/46860546/go-use-of-int

[2019-02-02 04:45] mmcdole commented on #117
@dy-dx @lutzhorn  thank you for the report and confirmation.

`CDATA` parsing is currently a hack and needs to be rewritten.  We aren't using `encoding/xml`'s `Unmarshal` because it wasn't flexible enough for `gofeed`'s requirements, so we don't get it for free.

I'll try to take a look at `CDATA` handling soon.  Perhaps we can pull something from `encoding/xml` itself.

[2019-02-02 05:08] mmcdole opened #118 "Add new iTunes elements"
https://theaudacitytopodcast.com/apples-ios-11-podcast-analytics-and-podcasting-spec-update-tap310/

Apple has added several new iTunes feed extension elements.  Need to make sure they are all present and being parsed correctly in the iTunes structs.

[2019-02-14 07:06] #94 closed

[2019-02-14 07:07] mmcdole opened #119 "Missing DateTime Parser Tests"
We are missing comprehensive tests for the date/time parser.

Ideally, these would cover a myriad of date formats, including those with / without timezone, etc.

[2019-04-06 18:25] OrKoN commented on #117
I have opened a PR to address this issue https://github.com/mmcdole/gofeed/pull/120 PTAL @mmcdole

[2019-04-08 17:57] OrKoN opened #121 "Dealing with invalid utf-8"
### Expected behavior

Filter out non-utf-8 characters automatically or allow to opt-in for this behavior.

### Actual behavior

Error `XML syntax error on line 93: invalid UTF-8` is produced and the feed cannot be processed.

### Steps to reproduce the behavior

It seems to be happening only if I fetch the feed from `https://ain.ua/feed` using `f.ParseURL`. When I open a locally saved file with `

[2019-04-20 11:46] musabgultekin commented on #121
You can fetch feed using your code, not ```f.ParseURL```. And add this header to your request.
[code]

And read response using this auto decoder
[code]

[2019-04-20 11:52] OrKoN commented on #121
I have used the following workaround: https://github.com/kisielk/gorge/blob/master/util/util.go which strips non-utf8 chars from the stream.

[2019-04-20 12:11] musabgultekin commented on #121
Yes this could work for any content. But it *removes* not decodes. Anyway, if you are satisfied with this, no problem :)

[2019-04-20 12:24] OrKoN commented on #121
@musabgultekin yeah, I don't think that the problem is that the site serves wrong encoding I think it's really just badly-encoded utf8 and only some chars are broken. The content still looks good after bad chars are removed.

[2019-05-22 22:33] afk-mario commented on #33
Is there a way to access the original XML  from a parsed feed ? I'm trying to parse the feed so I can validate it, if it's valid return the feed.

[2019-09-19 18:03] ddaggHT opened #126 "Image is not pulled when RSS feed is translated"
### Expected behavior
When a Item in a channel has a image it should be populated in the Feed and returned

### Actual behavior
Image is not populated when going through the rss parser nor is it a part of the struct

### Steps to reproduce the behavior
Read in a RSS feed with a channel and item containing a Image tag and no image URL will be populated

Note: Please include any links to problem fee

[2019-09-19 18:17] ddaggHT commented on #126
For got to Fork the repo. Rookie mistake....

[2019-09-20 15:09] mdosch opened #128 "Dependency update needed"
You are importing `github.com/codegangsta/cli` which is now forwarding to `github.com/urfave/cli`. This makes `go get -u all` fail for me:
`go: github.com/codegangsta/cli@v1.22.1: parsing go.mod: unexpected module path "github.com/urfave/cli"`

You should replace `github.com/codegangsta/cli` with `github.com/urfave/cli`.

[2019-09-20 15:15] SamWhited commented on #128
Also, consider removing your test binaries dependencies from your `go.mod` file by making `cmd/ftest` its own module or by renaming `cmd/` to `_examples/` or `.examples` which I believe are ignored by go modules.

[2019-09-21 18:37] tim-lebedkov opened #129 "Failed to detect feed type"
### Expected behavior
.ParseURL works

### Actual behavior
"Failed to detect feed type" error

### Steps to reproduce the behavior
fp.ParseURL("http://groups.google.com/group/chocolatey/feed/rss_v2_0_msgs.xml")

Note: Please include any links to problem feeds, or the feed content itself!

[2019-10-06 18:28] VarmaMSP commented on #118
Hi @mmcdole,  Created a PR #130  with new fields added to Itunes item extension.

[2019-10-12 09:28] musabgultekin commented on #129
Because this url returns 403

[2019-10-12 11:47] tim-lebedkov commented on #129
You're right. Maybe the error message could be better.

[2019-11-10 16:48] mmcdole commented on #118
@VarmaMSP ty!

[2019-11-10 16:48] #118 closed

[2019-11-10 17:00] mmcdole opened #131 "Add examples to readme for the new ParseUrlWithContext"
https://github.com/mmcdole/gofeed/pull/123

Add some examples to the readme that show using the `ParseUrlWithContext` function.

[2019-11-10 17:03] mmcdole commented on #126
@ddaggHT I struggle with this because according to the RSS specification, `item` doesn't have an `image` element.

I've thought about a perhaps dropping all elements that are part of the default namespace, but not technically valid to the RSS spec in the `extensions` element.

[2019-11-10 17:04] #126 closed

[2019-12-04 05:27] dewsy opened #133 "Image always nil"
### Expected behavior
Item.Image returns string

### Actual behavior
Item.Image is nil

### Steps to reproduce the behavior
I tried ~2000 articles from 279 different RSS feeds (all of them were XML) and all of the 2000 goffed.Item had nil for image. I looked at the XML feeds, there were image links in them. It must be a parsing errror.

[2020-01-03 09:12] tgrlbyrk opened #135 "isPermaLink="false" for guid field"
### Expected behavior
`<guid isPermaLink="false">article 54 at example.com</guid>`
### Actual behavior
`<guid>http://www.example.com/archives/000054.html</guid>`
### Steps to reproduce the behavior
By default, the guid element specifies a permanent link for an item, the value must be a full URL. IF you are using the guid element simply as a unique identifier (and not a link to the item), then the

[2020-01-03 09:15] #135 closed

[2020-03-13 07:50] ToasterKTN opened #140 "Content outside of CDATA is lost"
### Expected behavior
As in parseutil described:
// content outside of CDATA tags is passed via DecodeEntities

### Actual behavior
Only content within CDATA is returned

### Steps to reproduce the behavior
Add some text before or after CDATA Tags

### QuickFix
As for now, i  changed line 45 to
[code]
Because i did not quickly get the logic of StripCDATA.

[2020-03-29 19:57] #131 closed

[2020-04-10 17:54] creekorful opened #143 "New release?"
Hello @mmcdole,

Do you have any idea if/when a new release will be available?

I'm packaging your library on Debian, and the binary _ftest_ removed in this [commit](https://github.com/mmcdole/gofeed/commit/aaa570041b9e1faf7433ab0e299d26ca2549023f) is causing me trouble.
While I can remove it for the Debian package it would be better if I can just use a newly tagged clean version.

Have you any re

[2020-05-11 03:07] mmcdole commented on #143
@creekorful just cut a new release.

Thanks!

[2020-05-11 03:07] #143 closed

[2020-05-18 22:48] guilhem opened #146 "Populate "Published" field when only "Updated" exists"
### Expected behavior

_Published_ should always be populated as it's used for comparison, etc.

### Actual behavior

If a feed only have _updated_ field, _Published_ stay `nil`.

### Steps to reproduce the behavior

feeds:
- https://cloud.google.com/feeds/kubernetes-engine-release-notes.xml
- https://github.com/Azure/AKS/releases.atom (and all github feeds)

[2020-06-16 18:06] sudhanshuraheja commented on #133
@dewsy could you share links to a few RSS feeds where you were unable to get this to work?

[2020-06-16 18:11] sudhanshuraheja commented on #80
@mmcdole any plans for adding this soon, if not, would love to take a stab at it.

[2020-06-16 18:17] sudhanshuraheja commented on #117
This issue is fixed on the latest master. Here's the commit - https://github.com/mmcdole/gofeed/commit/22a67f9156f2a9c28d04dc012f5d24e1d7f2c49b

[2020-06-23 17:01] sudhanshuraheja commented on #80
@mmcdole I've created a PR for parsing JSON feeds would love to get your feedback on it.

[2020-07-08 22:47] arrow-dev commented on #133
Similar problem here,

https://businessdesk.co.nz/feed

Not getting any image data and also another problem I'm seeing with this feed is I get a strange value for Author like this:

author: {
  email: "<name>Some Name</name><email>SomeEmail</email>"
}

[2020-07-09 02:06] sudhanshuraheja commented on #133
Thanks @arrow-dev will try it out this weekend.

[2020-07-09 02:31] sudhanshuraheja commented on #133
So, there are two issues here.

### Author
The author doesn't get parsed properly because the RSS spec expects
`<author>lawyer@boyer.net (Lawyer Boyer)</author>`

but the XML contains
[code]

### Image Data
I can see an image tag inside items, like so
[code]

Though, what I find strange is that the [RSS spec](https://validator.w3.org/feed/docs/rss2.html#ltimagegtSubelementOfLtchannelgt) doesn't ha

[2020-07-09 04:36] arrow-dev commented on #133
@sudhanshuraheja Thanks for that info, first time dealing with RSS. With the Author it looked like it was lining up with the struct in GoFeed and the same with Image. Looks like this feed is not correctly formatted to the spec and I will need to do a custom parser. - I agree there would be no need for a PR to parse elements not in the spec.

[2020-08-05 19:36] Necoro opened #151 "Using atom elements in RSS feed"
Stackoverflow uses Atom's author tags in their RSS feed (cf.
https://stackoverflow.com/jobs/feed). They indeed use the correct namespace for it. But currently, as this namespace is unknown, it is just added as a random extension.

My wishful expected behavior would be to fill the author information of the RSS-feed structure.

I could implement it, but I want to ask beforehand:
1. Should this be do

[2020-08-05 20:04] Necoro commented on #151
Ok, special atom handling in RSS is already done for `link`, so I'll do the same for author.

While at it, I'll incorporate `atom` and `atom03` into `canonicalNamespaces` to avoid having to guess by namespace prefix.

[2020-08-15 15:12] garlicgit opened #152 "c.Args()[0] (type cli.Args does not support indexing)"
Error on compile:

./rssfeed.go:25:17: cannot use cli.StringFlag literal (type cli.StringFlag) as type cli.Flag in slice literal:
	cli.StringFlag does not implement cli.Flag (Apply method has pointer receiver)
./rssfeed.go:31:13: cannot use func literal (type func(*cli.Context)) as type cli.ActionFunc in assignment
./rssfeed.go:38:22: invalid operation: c.Args()[0] (type cli.Args does not support

[2020-09-09 22:13] nkanaev opened #155 "Parsing atom feeds without `xml:base` does not resolve relative links"
### Expected behavior

Absolute link in `ParseURL`.

### Actual behavior

Relative links are provided as is.

### Steps to reproduce the behavior

script to test:

[code]

partial file content:

[code]

Full feed is provided here: [bouke.xml](https://github.com/mmcdole/gofeed/files/5198155/bouke.xml.txt)

### Notes

Given that such links have to be handled manually in `Parse`, `ParseString` method

[2020-09-11 16:11] donatj commented on #80
It appears 1.11 added JSON feed support. We cool to close this?

[2020-09-16 13:59] #155 closed

[2020-09-28 06:04] #98 closed

[2020-10-15 06:17] prologic commented on #133
@arrow-dev Did you end up writing a custom parser? I too would like to be able to extract images from various RSS/Atom feeds for https://feeds.twtxt.net/ (_sigh no one follows the spec!_)

[2020-10-15 09:39] arrow-dev commented on #133
@prologic Actually just ended up using the standard library as shown [here](https://godoc.org/encoding/xml#example-Unmarshal)

[2020-10-15 22:23] prologic commented on #133
Can you share your code? I don't really feel like reinventing Atom/RSS parsing for what amounts to similar problems you had with gofeed :)

[2020-10-16 01:10] arrow-dev commented on #133
@prologic I'm not able to share the code but basically it is exactly like in that linked example from godoc,

- define type(s)/struct(s) reflecting the fields that you want to pull out, in the same shape as the feed/xml with meta tags to map the xml field names and/or attributes

- instantiate a variable with the empty/default value of that struct

- call xml.Unmarshal(<xml feed as bytes>, <pointe

[2020-10-16 19:53] skuzzymiglet commented on #152
This not a gofeed issue, please close it

[2020-10-16 19:56] skuzzymiglet opened #159 "Memory fault, involving XMLBase"
### Expected behavior

Correctly parse feed

### Actual behavior

A memory fault occurs (1 in 2 times). Here's part of the panic:

[code]

### Steps to reproduce the behavior

I'm not sure

Note: Please include any links to problem feeds, or the feed content itself!

[2020-10-18 06:44] #152 closed

[2020-10-20 03:10] mmcdole commented on #159
Can you please link to the feed in question?

[2020-10-20 20:49] skuzzymiglet commented on #159
Non-deterministic, I think. It also seems to happen only with concurrent use. Are you testing concurrency in the package?

[2020-10-22 13:36] googollee commented on #121
I digged in this issue and found out it caused by encoding/xml package. The package [checks](https://github.com/golang/go/blob/3bac5faa4af2f5c454b2cebaa8be5cde9b8e2add/src/encoding/xml/xml.go#L1142) if characters are in the xml characters range, and if not, pop that error.

I copy `isInCharacterRange()` to my code and filter all characters with it before feeding into `gofeed.Parser`.

[2020-10-24 18:16] skuzzymiglet opened #160 "Race condition in urlstack"
### Expected behavior

Goroutine-safety when calling URLStack

### Actual behavior

1. A pointer to an urlstack is passed to Top
2. It's checked for length, evaluates as non-zero, so the function carries on
3. Before it reaches return, the length becomes zero
4. panic!

### Steps to reproduce the behavior

Run any gofeed operation concurrently

I think this package needs more testing in concurrent

[2020-10-24 18:53] skuzzymiglet commented on #110
I think this should be closed (considering it's from 2018)

[2020-10-26 19:06] skuzzymiglet commented on #160
Reproduced in my fork: https://github.com/skuzzymiglet/gofeed/runs/1310765513?check_suite_focus=true#step:6:21
Code: https://github.com/skuzzymiglet/gofeed/blob/concurrent-tests/parser_test.go#L62

[2020-11-03 13:45] mmcdole commented on #160
@skuzzymiglet thanks for the issue.

Definitely looks like some non-thread safe state has been introduced.  I'll take a look.

[2020-11-03 15:55] skuzzymiglet commented on #160
In my (unstable) fork, I'm thinking of folding URLStack into XMLBase, since it's the only user.

Also, what is XMLBase? I have no clue.

[2020-11-17 15:52] makeworld-the-better-one opened #161 "Support JSON Feed 1.1"
JSON Feed support was added by #154 and #150, which should close #80. I've opened this issue to request that support for JSON Feeds v1.1 be added. v1.0 is still forwards-compatible, but v1.1 adds some things.

https://www.jsonfeed.org/2020/08/07/json-feed-version.html

https://jsonfeed.org/version/1.1

[2020-11-18 17:43] #80 closed

[2020-11-20 22:21] livelace opened #162 ""Failed to detect feed type" for many sites."
### Expected behavior

Feeds should be read.

### Actual behavior

Failed to detect feed type

### Steps to reproduce the behavior

Read feed as usual. Dont' work:

https://zebra-tv.ru/rss
https://yarnovosti.com/feed/
https://yarreg.ru/feed
http://www.volgograd.ru/news/rss/
https://www.hibiny.com/news/rss.php
...

Note: Please include any links to problem feeds, or the feed content itself!

[2020-11-21 18:21] minj131 opened #163 "Suddenly getting 500 internal server error when parsing wordpress rss feeds"
Other feeds work, but suddenly wordpress rss feeds seem to error out specifically when the request is made. Verified link is valid.

### Expected behavior
Parses the xml feed correctly

### Actual behavior
Request fails with a 500 internal server error

### Steps to reproduce the behavior
Parse a wordpress feed url

Note: Please include any links to problem feeds, or the feed content itself!

[2020-11-21 18:21] #163 closed

[2020-11-23 01:58] JianRuHong commented on #162
I have the same problem

[2020-11-25 15:02] livelace commented on #162
Hm, It seems the problem has already been solved in other repos.
https://github.com/skuzzymiglet/gofeed/blob/99fdea73ea8d81dbaaa45050e435924f1dbc7478/detector.go#L45

[2020-11-25 16:07] livelace commented on #162
UP. It's already in master branch. Closed.

[2020-11-25 16:07] #162 closed

[2020-11-30 10:05] DogeVenci opened #165 "Add support proxy setting for parserURL"
http.Client can add http or socks5 proxy

[2020-12-28 08:28] torlenor opened #166 "Failed to detect feed type on https://www.derstandard.at/rss/web"
gofeed cannot detect the feed type on feed
https://www.derstandard.at/rss/web

### Expected behavior

Return a valid parsed feed, without error.

### Actual behavior

Parsing the feed results in "Failed to detect feed type"

### Steps to reproduce the behavior

Try parsing the feed

[code]

[2021-01-23 05:44] hellodword commented on #165
Check [this](https://github.com/mmcdole/gofeed/blob/96998c2d6be59bc75c2d86863bedd2fe5a09a20d/parser.go#L181-L187), you can replace the Client of the Parser.

[2021-01-23 06:27] hellodword opened #167 "Support xml feeds generating"
[gorilla/feeds](https://github.com/gorilla/feeds) is no longer active, it'd be great if gofeed could support feeds generating.

[2021-01-23 22:00] milochristiansen commented on #166
I have this exact issue. Loads of RSS 2.0 feeds are not being detected. Oddly, an old version of my RSS notifier built with some unknown older version of this library seems to work fine. Investigating.

[2021-01-23 22:23] milochristiansen commented on #166
Reverting to v1.0.0-beta2 fixes my issue. I'm not wasting my time trying to figure out if that is the last version that works or not, I just know that it is *a* version that works.

[2021-02-18 16:21] gozelus opened #170 "Failed to detect feed type on https://storyfm.cn/feed/episodes"
[code]
### Expected behavior
it prints `0`
### Actual behavior
should print `FeedTypeRSS`

--------------
[code]
 return error, but
[code]
works fine.

[2021-02-23 16:59] gozelus commented on #170
I have found the reason, the HTML file contains the bom lead to parse failure.
Is it possible to solve this problem?

[2021-02-24 02:26] #161 closed

[2021-02-24 04:06] makeworld-the-better-one commented on #170
I believe the master branch has a fix for this, see #158 and https://github.com/mmcdole/gofeed/commit/d5ae83954e0552f161c04d5d1835d20f82950916.

[2021-03-03 03:59] gozelus commented on #170
It fixed, thanks so much !

[2021-03-03 03:59] #170 closed

[2021-03-06 04:49] #167 closed

[2021-03-06 10:34] gonejack opened #173 "Content parsed into Description"
I got a feed `https://www.williamlong.info/rss.xml` that `gofeed` would parse it's article content as description and content == ""

![image](https://user-images.githubusercontent.com/2720676/110203672-6e991b80-7eaa-11eb-9766-893ab8cf928a.png)

[2021-03-06 10:39] gonejack commented on #173
[code]

[2021-03-11 10:44] genert commented on #159
The issue still exists. When using parser concurrently, it will throw the error.

Does the library hold any kind of internal state?

As a remedy, use `sync.Pool`:

[code]

[2021-03-25 09:03] microo8 opened #174 "Don't skip elements that are not part of the spec"
### Expected behavior
Elements or it's content are saved to `item.Custom[elementName] = elementContent`

So that that the CustomTranslator can pick up the fields and do something with it.

### Actual behavior
Elements that are not defined by the spec are just skipped https://github.com/mmcdole/gofeed/blob/1850ec19c3f1274cc77fad42a05c39d8eea701de/rss/parser.go#L285

[2021-04-04 19:25] nkanaev commented on #166
the issue has been fixed in https://github.com/mmcdole/gofeed/commit/d5ae83954e0552f161c04d5d1835d20f82950916 and is on master, but hasn't been released by semver (cc: @mmcdole v1.1.1 maybe?).

that said, the safest approach would be to not assume the input to be utf-8 all the time, and pass a reader that's capable of handling bom encodings & various charsets instead ([golang.org/x/net/hmtl/charse

[2021-04-08 20:16] #146 closed

[2021-04-20 01:07] sjawaji commented on #174
@mmcdole - raised a pull request for this.  Please let me know if any changes are required.

[2021-04-20 11:25] sjawaji commented on #174
@microo8 - this is now resolved.  My PR is merged.  You can try and let me know.

[2021-04-20 11:52] microo8 commented on #174
thanks that's great. I think it will work

[2021-04-20 11:52] #174 closed

[2021-06-01 00:05] akeemphilbert opened #178 "Authors don't seem to be parsed correctly"
### Expected behavior
Rss feed with `<author>test@example.org</author>` or
[code]
Doesn't get the authors parsed.

`<itunes:author>John Doe</itunes:author>` does work
Sample Feed
[code]

[2021-06-01 06:18] Necoro commented on #178
That's because `<author>` is, according to spec, part of `<item>` and not of `<channel>`.

[2021-06-01 11:24] akeemphilbert commented on #178
You're right thanks. Though for atom it is on the main (I tried it with the namespace as per the example I gave above and no dice)

[2021-06-01 13:04] Necoro commented on #178
@akeemphilbert: For mixing RSS and atom, you can try my branch at https://github.com/Necoro/gofeed/tree/fix_151 (cf. issue #151 / PR #153 ). That handles `atom:author` in RSS as well.

[2021-06-01 13:51] akeemphilbert commented on #178
Cool yeah I saw this and wondered if it was going to get merged in. Thanks

[2021-06-01 13:51] #178 closed

[2021-06-03 03:49] SydnieBan opened #179 "Failed to detect feed type on https://xz.aliyun.com/feed"

[2021-06-03 06:54] SydnieBan commented on #179
[code]

[2021-06-05 02:40] minhdanh opened #180 "XML syntax error on line 34: illegal character code U+0008"
### Expected behavior
RSS feed parsed correctly

### Actual behavior
gofeed cannot parse RSS feed, with the following error:
[code]

### Steps to reproduce the behavior
Parse this feed:
http://newsletter.grokking.org/?format=rss

Apparently there's a "strange" character in line 34

[2021-06-05 02:42] minhdanh commented on #180
I can see there's a similar issue which has been fixed a long time ago: https://github.com/mmcdole/gofeed/issues/25
But this still happens with the latest version of gofeed (v1.1.3)

[2021-06-06 13:45] Necoro commented on #179
This feed is horribly broken, it returns an HTML element with obscure inline JS that then reloads itself. Of course this won't work with something that is not a browser.

[code]

[2021-06-14 15:41] meszaroszoltan opened #181 "Failed to detect feed type:http://www.dailytelegraph.com.au/feed/"
Hello,

could you please look into it why this feed is considered invalid / unparsable ?
http://www.dailytelegraph.com.au/feed/

[2021-06-14 22:24] Necoro commented on #181
That one was tricky:
`wget -O - https://www.dailytelegraph.com.au/feed` outputs the expected feed.
But when looking at all the redirects:
[code]
one gets the idea: Cookies.

And thus:
`wget --no-cookies -O - https://www.dailytelegraph.com.au/feed/` returns an HTML site that states that cookies need to be enabled.

Alternatives:
1. As cookies and RSS in combination make no sense, one should contact

[2021-07-29 10:22] SydnieBan commented on #179
ok, i see. thank you. I changed it a different way.

[2021-07-29 10:22] #179 closed

[2021-08-17 13:38] purefun commented on #180
I can reproduce it.

I also ran into another char: U+0004:

`XML syntax error on line 1681: illegal character code U+0004`
https://changelog.com/posts/feed

[2021-12-15 03:31] jdiaz opened #183 "XML syntax error on line 3131: illegal character code U+001C"
### Expected behavior
Successful parse
### Actual behavior
Throws error
### Steps to reproduce the behavior
[code]

Note: Please include any links to problem feeds, or the feed content itself!

[2021-12-25 20:23] Necoro commented on #183
There is an encoding issue in the feed:

`<td>Recibí confirmación de que el reporte fue recibido y que se trabajaría de inmediato`

Firefox' RSS reader fails as well...

[2022-01-10 03:39] jdiaz commented on #183
Thanks!

[2022-01-10 03:39] #183 closed

[2022-01-16 00:03] Necoro commented on #159
Stumbling over this issue: Yes, the parser holds internal state (cf. internal/shared/xmlbase). Question is: What is the purpose of using the same parser instance twice? Why not instantiate a new parser for each parse?

@mmcdole: What is your intention? Perhaps it's sufficient to just add documentation that a Parser should not be shared.

[2022-01-17 03:48] UniverseOfTomorrow opened #186 "Failed to match this url:https://rss.netkeiba.com/?pid=rss_netkeiba&site=netkeiba"
### Expected behavior

### No error  but failed to get some content

### Steps to reproduce the behavior

Note: Please include any links to problem feeds, or the feed content itself!

[2022-04-27 13:25] StayPirate opened #188 "Undetect Json array"
### Expected behavior

If I try to parse a Json file starting with a [ I want it to be parsed.

### Actual behavior

It doesn't parse [this feed](https://chromiumdash.appspot.com/fetch_releases?channel=Stable&platform=Linux) or [the same one with only one element](https://chromiumdash.appspot.com/fetch_releases?channel=Stable&platform=Linux&num=1&offset=0).

### Steps to reproduce the behavior

I

[2022-04-27 15:55] StayPirate commented on #188
I did some test on my own, and it doesn't seem to be that easy. I think I misunderstood what a Json feed is.... It should be something with a fixed structure, and not any random Json file, am I correct?
Something like the following example, which I took from [jsonfeed.org](https://www.jsonfeed.org/version/1.1/)
[code]

[2022-05-04 12:21] #188 closed

[2022-05-27 13:42] rodmcelrath opened #189 "Multiple 'enclosure' elements not being picked up..."
Example:
https://ep00.epimg.net/rss/deportes/portada.xml

Now - I know it's recommended to have one enclosure per item - [Wiki](https://en.wikipedia.org/wiki/RSS_enclosure#cite_note-1)

However the gofeed.Item is a slice of Enclosures.  But only one ever gets selected.

### Expected behavior
I would expect all of the enclosures to be parsed and made available.

### Actual behavior
Only one enclosu

[2022-05-27 16:59] rodmcelrath commented on #189
I believe I've handled this in an elegant and backward compatible fashion.
Tests fixed, additional coverage added.

https://github.com/mmcdole/gofeed/pull/190

I NEED this functionality - I'd very much like to stay on mmcdole/gofeed:master. Merge would be much appreciated.

Thank you.

[2022-05-31 16:16] #189 closed

[2022-06-21 07:54] godcong opened #191 "build failed on go 1.18"
### Expected behavior
build on go 1.18

### Actual behavior
`go mod tidy` failed

package need upgrade for go 1.18 building

go: upgraded github.com/json-iterator/go v1.1.10 => v1.1.12
go: upgraded github.com/modern-go/reflect2 v1.0.1 => v1.0.2

go output log
[code]

[2022-08-24 06:21] anzhihe commented on #180
I also encountered this problem recently.

version：gofeed v1.1.3，go 1.17

`XML syntax error on line 211: illegal character code U+0008`

[https://chegva.com/feed/](https://chegva.com/feed/)

[2022-09-13 10:26] #191 closed

[2022-11-10 06:03] wjkoh opened #192 "GoFeed parses the CoinDesk feed but the Link fields are empty"
### Expected behavior

### Actual behavior

### Steps to reproduce the behavior

Note: Please include any links to problem feeds, or the feed content itself!

GoFeed parses https://www.coindesk.com/arc/outboundfeeds/rss/ successfully but it returns empty Link fields for both Feed and Item. It's probably due to the multiple Link tags in the feed data. See a couple of examples below.

Channel:
[code

[2022-11-27 22:56] sasomiv opened #193 "no parse content"
### Expected behavior
parsing  tag <turbo:content>
### Actual behavior
no parsing  tag <turbo:content>
### Steps to reproduce the behavior
feed.Items[0].Content
Note: Please include any links to problem feeds, or the feed content itself!
rss:
[code]